@{
    ViewData["Title"] = "Bài tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["NoContainer"] = true;
}

@section Styles {
  <link rel="stylesheet" href="~/css/exercises.css" asp-append-version="true" />
}

@section Scripts {
  <script src="~/js/menuicon.js" asp-append-version="true"></script>
}

<div class="exercise-index">
   

    <div class="img-container">
        <img src="~/img/exer.png" alt="Hãy bắt đầu luyện tập!" />

        <!-- Hamburger icon + Menu (menu must be inside hamburger for CSS selector) -->
        <div class="hamburger" id="hamburger" aria-label="Menu bài tập" role="button" tabindex="0">
            <span></span>
            <span></span>
            <span></span>

            <nav class="menu" id="menu">
                <ul>
                    <li>
                        <a asp-controller="Exercises" asp-action="Html">Bài tập HTML</a>
                    </li>
                    <li>
                        <a asp-controller="Exercises" asp-action="Css">Bài tập CSS</a>
                    </li>
                    <li>
                        <a asp-controller="Exercises" asp-action="Progress">My Progress</a>
                    </li>
                   
                </ul>
            </nav>


        </div>
    </div>
